<div class="row">
<div class="microposts col-md-5">
<%= link_to gravatar_for(@micropost.user, size: 50),@micropost.user %>
<span class="user"><%= link_to @micropost.user.name, @micropost.user %></span>
<span class="content">
  <%= @micropost.content %>
  <%= image_tag @micropost.picture.url if @micropost.picture? %>
</span>
<span class="timestamp">
  Posted<%= time_ago_in_words(@micropost.created_at) %>ago.
  <% if current_user?(@micropost.user) %>
    <%= link_to "delete", @micropost, method: :delete,
                 data: { cofirm: "You sure?"} %>
  <% end %>
</span>

<%= form_for(@comment, url: micropost_comments_path(@micropost)) do |f| %>
  <div class="comment-field">
    <%= f.text_area :comment, placeholoder: "comment..." %>
  </div>
  <%= f.submit "reply", class: "btn btn-primary" %>
<% end %>
</div>
 <div class="col-md-7">
  <h3>Comment</h3>
    <% if @comments %>
         <% @comments.each do |comment| %>
         <div class=" microposts "">
         <%= link_to gravatar_for(comment.user, size: 40), comment.user%>
         <span class = 'user'><%= link_to comment.user.name, comment.user %></span>
           <span class="content">
             <%= simple_format(comment.comment) %>
           </span>
           <span class="timestamp">
             posted <%= time_ago_in_words(comment.created_at) %> ago
           </span>
          </div>
         <% end %>
    <% end %>
  </div>
</div>
